/* Text property */

p{

color: blue;
text-indent: 500pxs;
text-decoration: underline;
 text-decoration-color: red;
 text-decoration-style: dotted;

 text-transform: capitalize;

}


h1{
    text-align: center;
    text-shadow:10px 10px 10px purple;
}


/* Font property */

h1{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-style: oblique;
    font-weight: 100;
    font-variant: small-caps;
}

section{
    height:90vh;
    width: 100%;
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5iS1IxJgZrfkF9alK3l6cfkD1LtrDH0wDhg&s);
    /* background-color: beige; */
    /* background: linear-gradient(rgb(255, 55, 0),rgb(73, 62, 124),rgba(81, 0, 255, 0.492),rgb(25, 255, 25)); */
    /* background-image: url(../HTML/dbms.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* background-image:url(https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcS__Cn2oRk8da8k2hVUcLvrzPu2YoMKSLgOu10guvzt3Zga4mWFpUggz4tpDZmGP9AegFIXWW-DsAGAeGO-e0hcoQdcnUie); */
    background-size: cover;
    background-size: 50cqmax;
    background-blend-mode: multiply;
    /* background-blend-mode: lighten; */
}